<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <!-- component.html 기준으로 상대경로로 CSS 파일 링크 -->
  <link rel="stylesheet" href="../../clientlibs/css/main.css">
</head>
<body>
  <div id="calendar-component">
    <h1>Simple Calendar</h1>
    <div id="calendar"></div>
  </div>
  <!-- component.html 기준으로 상대경로로 JS 파일 링크 -->
  <script src="../../clientlibs/js/main.js"></script>
</body>
</html>
