<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div id="todo-app">
    <h1>Webpack Setting Test</h1>
    <form id="todo-form">
      <input type="text" id="todo-input" placeholder="ADDD" autocomplete="off">
      <button type="submit">Add</button>
    </form>
    <ul id="todo-list">
      <!-- Todo 항목은 JavaScript에서 렌더링됩니다. -->
    </ul>
  </div>
</body>
</html>
